body {
  margin:0;
  font-family:Arial;
  background:#0f0f0f;
  color:white;
}

header {
  display:flex;
  justify-content:space-between;
  padding:20px;
}

.logo {
  color:#00ff88;
  font-weight:bold;
}

.hero {
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.btn {
  padding:10px 20px;
  background:#00cc66;
  color:black;
  text-decoration:none;
  border-radius:5px;
}

.glow {
  box-shadow:0 0 15px #00ff88;
}

.center {
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
}

.card {
  background:#1a1a1a;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 20px #00ff88;
}

input, select {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
  background:#111;
  border:1px solid #00ff88;
  color:white;
}

.sidebar {
  width:200px;
  height:100vh;
  background:#111;
  position:fixed;
  padding:20px;
}

.sidebar a {
  display:block;
  color:white;
  margin:15px 0;
  text-decoration:none;
}

.main {
  margin-left:220px;
  padding:20px;
}

.balance {
  background:#1a1a1a;
  padding:15px;
  margin-bottom:20px;
  box-shadow:0 0 15px #00ff88;
}